################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PRN221/.vs/PRN221/FileContentIndex/07f195a4-c42f-42da-ad96-ce124c626ebd.vsidx
