@page
@model PRN221.Pages.StatisticsPages.IndexModel

@{
    ViewData["Title"] = "Statistics";
}

<h1>Product and Revenue Statistics</h1>

<div>
    <p>Total Products: @Model.TotalProducts</p>
    <p>Total Revenue: @Model.TotalRevenue</p>
</div>