:root {
    --dark-pink: #D14D72;
    --med-pink: #ffabab;
    --light-pink: #fcc8d1;
    --light-color: #fef2f4;
}

html {
    font-size: 14px;
}

.dark-pink {
    color: var(--dark-pink);
}

.med-pink {
    color: var(--med-pink);
}

.light-pink {
    color: var(--light-pink);
}

.navbar {
}

    .navbar li {
    }

        .navbar li :hover {
            background-color: var(--dark-pink);
            color: var(--light-color);
        }

    .navbar a {
        font-size: 20px;
        margin-inline: 8px;
        padding: 8px;
        text-decoration: none;
        color: var(--dark-pink);
    }

.btn-pink {
    background-color: var(--light-pink);
    color: var(--dark-pink);
    border-color: var(--dark-pink);
    padding: 8px 16px;
    border-radius: 24px;
}

    .btn-pink:hover {
        background-color: var(--dark-pink);
        color: var(--light-pink);
        border-color: var(--dark-pink);
        padding: 8px 16px;
    }
.form-group{
    margin-bottom: 8px
}
.card img {
    width: 100px;
    height: 100px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
