:root {
    --dark-pink: #D14D72;
    --med-pink: #ffabab;
    --light-pink: #fcc8d1;
    --light-color: #fef2f4;
}

html {
    font-size: 14px;
}

.dark-pink {
    color: var(--dark-pink);
}

.med-pink{
    color: var(--med-pink);
}
.light-pink {
    color: var(--light-pink);
}

.navbar {
    background-color: var(--dark-pink);
}

    .navbar a {
        color: var(--light-pink);
    }

        .navbar li :hover {
            background-color: var(--light-pink);
            color: var(--dark-pink);
        }

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
