@page
@model PRN221.Pages.HomeModel
@{
}
<div class="d-flex align-items-center" style="border-bottom-style: solid; border-bottom-color: #edebeb;">
    <div style="width:15%">
        <img src="~/img/logo.png" alt="Logo Image" style="width:100%" />
    </div>
    <div style="width:70%; text-align: center">
        <h6 class="med-pink">
            Welcome to our store - providing top-quality, nutritious milk for moms and babies.
        </h6>
        <h6 class="med-pink">
            Your health and happiness are our priority.
        </h6>
        <h4 class="dark-pink">Perfect Nutrition for Moms and Babies</h4>
    </div>
</div>