@page
@model PRN221.Pages.HomeModel
@{
}
<div class="position-relative">
    <img src="/img/home_background.png" class="w-100" />
    <div class="position-absolute" style="top:78px; left:64px">
        <p style="font-size: 48px; margin-bottom:0px; color:#D14D72">Baby Fomula</p>
        <p style="font-size: 48px; color:#D14D72">
            Delivered to Your Doorstep
        </p>
        <p style="font-size: 32px;">Fast&Free Shipping with Guaranteed Delivery</p>
        <button class="btn-pink">
            Shop All Baby Formula
        </button>
    </div>
</div>