@page
@model PRN221.Pages.VoucherPages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_LayoutManage.cshtml";

}

<h1>Create</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Voucher.VoucherName" class="control-label"></label>
                <input asp-for="Voucher.VoucherName" class="form-control" />
                <span asp-validation-for="Voucher.VoucherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Content" class="control-label"></label>
                <input asp-for="Voucher.Content" class="form-control" />
                <span asp-validation-for="Voucher.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Condition" class="control-label"></label>
                <input asp-for="Voucher.Condition" class="form-control" />
                <span asp-validation-for="Voucher.Condition" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Voucher.StartDate" class="control-label"></label>
                <input asp-for="Voucher.StartDate" class="form-control" />
                <span asp-validation-for="Voucher.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.EndDate" class="control-label"></label>
                <input asp-for="Voucher.EndDate" class="form-control" />
                <span asp-validation-for="Voucher.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Voucher.IsDeleted" /> @Html.DisplayNameFor(model => model.Voucher.IsDeleted)
                </label>
            </div>
       <!--   <div class="form-group">
                <label asp-for="Voucher.createdDate" class="control-label"></label>
                <input asp-for="Voucher.createdDate" class="form-control" />
                <span asp-validation-for="Voucher.createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.updatedDate" class="control-label"></label>
                <input asp-for="Voucher.updatedDate" class="form-control" />
                <span asp-validation-for="Voucher.updatedDate" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <label asp-for="Voucher.VoucherTypeId" class="control-label"></label>
                <select asp-for="Voucher.VoucherTypeId">
                    @foreach (var type in Model.VoucherTypes)
                    {
                        <option value="@type.Id">@type.VoucherTypeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
