@page
@model PRN221.Pages.VoucherPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voucher</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Voucher.Id" />
            <input type="hidden" asp-for="Voucher.IsDeleted" />
            <div class="form-group">
                <label asp-for="Voucher.VoucherName" class="control-label"></label>
                <input asp-for="Voucher.VoucherName" class="form-control" />
                <span asp-validation-for="Voucher.VoucherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Content" class="control-label"></label>
                <input asp-for="Voucher.Content" class="form-control" />
                <span asp-validation-for="Voucher.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.Condition" class="control-label"></label>
                <input asp-for="Voucher.Condition" class="form-control" />
                <span asp-validation-for="Voucher.Condition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.StartDate" class="control-label"></label>
                <input asp-for="Voucher.StartDate" class="form-control" />
                <span asp-validation-for="Voucher.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.EndDate" class="control-label"></label>
                <input asp-for="Voucher.EndDate" class="form-control" />
                <span asp-validation-for="Voucher.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.CreatedDate" class="control-label"></label>
                <input asp-for="Voucher.CreatedDate" class="form-control" />
                <span asp-validation-for="Voucher.CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Voucher.LastUpdatedDate" class="control-label"></label>
                <input asp-for="Voucher.LastUpdatedDate" class="form-control" />
                <span asp-validation-for="Voucher.LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Voucher type</label>
                <select asp-for="Voucher.VoucherTypeId" class="form-control">
                    @foreach (var type in Model.VoucherTypes)
                    {
                        <option value="@type.Id">@type.VoucherTypeName</option>
                    }
                </select>
            </div>

        <!--    <div class="form-group">
                <label asp-for="Voucher.voucherTypeId" class="control-label"></label>
                <select asp-for="Voucher.voucherTypeId" class="form-control" asp-items="ViewBag.voucherTypeId"></select>
                <span asp-validation-for="Voucher.voucherTypeId" class="text-danger"></span>
            </div>
                -->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
