@page
@model PRN221.Pages.ProductManagement.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Product.id" />
            <div class="form-group">
                <label>Product type</label>
                <select asp-for="@Model.Product.productTypeId">
                    @foreach (var type in Model.ProductTypes)
                    {
                        <option value="@type.id">@type.productType</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Name</label>
                <input asp-for="Product.name" class="form-control" />
                <span asp-validation-for="Product.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Description</label>
                <input asp-for="Product.description" class="form-control" />
                <span asp-validation-for="Product.description" class="text-danger text-wrap"></span>
            </div>
            <div class="form-group">
                <label>Stock quantity</label>
                <input asp-for="Product.stockQuantity" class="form-control" />
                <span asp-validation-for="Product.stockQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Price</label>
                <input asp-for="Product.price" class="form-control" />
                <span asp-validation-for="Product.price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Status</label>
                <select asp-for="@Model.Product.isDeleted">
                    <option value="true">Inactive</option>
                    <option value="false">Active</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
